DB_URL=mongodb://<user>:<password>@bevilaqualibrarycluster-shard-00-00.vrwbd.mongodb.net:27017,bevilaqualibrarycluster-shard-00-01.vrwbd.mongodb.net:27017,bevilaqualibrarycluster-shard-00-02.vrwbd.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-wmhhym-shard-0&authSource=admin&retryWrites=true&w=majority