<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <script type="application/javascript" src="/axios/axios.min.js"></script>
</head>
<body>
  <div>
    Main Layout
    <a href="/">Home</a>
    <a href="/login">login</a>
    <a href="/logout">logout</a>
    <a href="/usuario">Usuários</a>
    <a href="/autor">Autores</a>
  </div>
    {{{body}}}

</body>
</html>
