<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ pagetitle }}</title>
    <script type="application/javascript" src="/axios/axios.min.js"></script>
    <script type="application/javascript" src="/moment/moment.js"></script>
    <script type="application/javascript" src="/public/javascript/functions.js"></script>
    <script type="application/javascript" src="/moment/locale/pt.js" charset="UTF-8"></script>
</head>
<body>
  <div>
    Main Layout
    <a href="/">Home</a>
    {{#if isLogged}}
      <a href="/logout">logout</a>
    {{else}}
      <a href="/login">login</a>
    {{/if}}
    <a href="/usuario">Usuários</a>
    <a href="/autor">Autores</a>
    <a href="/pais">Países</a>
    <a href="/idioma">Idiomas</a>
    <a href="/tipo">Tipos</a>
    <a href="/genero">Gêneros</a>
    <a href="/editora">Editoras</a>
  </div>
    {{{body}}}

</body>
</html>
