<h3>Países</h3>
<div class="row">
  <div class="col">
    <a class="btn btn-green btn-small" href="/pais/cadastrar">Cadastrar novo País</a>
  </div>
  <div class="col"></div>
  <div class="col">
    <span style="display: none;" id="mainAlert" class="alert alert-blue" role="alert">{{ message }}</span>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <div class="table-wrapper">
      <table class="table table-bordered" id="tableCountry">
        <thead>
          <tr>
            <th class="clickable">Nome</th>
            <th style="width: 14%;">Ações</th>
            <th class="u-none">_id</th>
          </tr>
        </thead>
        <tbody id="tableCountryBody">
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="application/javascript" src="/public/javascript/listcountry.js"></script>
